/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Sans Serif";
    -fx-background-color: "#7c100a";
}

.navBtn{
	-fx-border-width: 1px;
	-fx-border-color: “black”;
}

.label{
	-fx-font-color: “black”;	
	-fx-font-size: “18pts”;
}

.button{
	-fx-font-size: 10pt;
	-fx-background-color: "white";
	-fx-border-color: black ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    
}

.AccountSettingsAnchorPane{
	-fx-background-color: “white”; 
}

.submitBtn{
	-fx-border-color: black ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius: 4;
}	

.clearReserveBtn{
	-fx-font-size: 12;
	-fx-border-color: black ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius: 4;
}

.label{
	-fx-background-color: "white";
}

.pane{
	-fx-background-color: "white";
	
}

.headerLabel{
	-fx-border-color: black ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius: 4;
}

.signInLabel{
	-fx-background-color: "#7c100a";
	-fx-font-color: “white” ;	
	-fx-font-size: “14pts”;
}